.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 100px auto;
    padding: 20px;
    padding-top: 20px;
    max-width: 90%;
}
.photos {
    padding-top: 10px;
    padding: 10px 10px;
}
.person {
    height: 130px;
    width: 130px;
    border-radius: 100px;
    padding: 10px 10px;
}
.l-title {
    font-size: 1.4em;
}
.position {
    font-weight: 700;
    font-size: 1em;
}
.descript {
    font-size: 0.8em;
}
@media (min-width:768px) {
    .cuerpo {
        max-width: 70%;
        padding-top: 50px;
    }
    .photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 90%;
    }
}