body{
    background-color: black;

}
.upstep {
    margin: 0;
    padding: 0;
    border-color: white;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100%;
    align-items: center;
    align-content: center;

}
.boycott-img {
    height: 50px;
    width: 50px;
    
}
p{
    color: white;
}
h1{
    color: white;
}