body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.upstep {
width: 100%;
padding: 10px;
box-sizing: border-box;
text-align: center;
}
.upstep-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cart img{
    height: 24px;
    width: auto
}
.logo-container {
    margin: 10px;
}
.boycott-img {
    height: auto;
    width: 60px;  
}
.links-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.principal-products {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
.header-tools, .main-buttons {
    color: white;
    text-decoration: none;
    font-size: 62.5%;
    font-size: 1.1em;
}
p{
    color: white;
}
h1{
    color: white;
}
@media (min-width: 768px) {
    .upstep-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 20px;
    }
    .logo-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0;
        z-index: 1;
    }
    .principal-products{
        margin-top: 30px;
        margin-left: 25px;
    }
    .links-principal {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 15px;
        margin-left: auto;
        justify-content: center;
    }
    .boycott-img {
        width: 100px;
        height: auto;
    }
    #cart img{
        width: 30px;
        height: auto;
    }
}